################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRUD/CRUD/App_Data/Customers.mdf
/CRUD/CRUD/App_Data/Customers_log.ldf
/MyWeatherSite/MyWeatherSite/App_Data/WeaterHistory.mdf
/MyWeatherSite/MyWeatherSite/App_Data/WeaterHistory_log.ldf
